.img {
    width: 7vw;
    height: 12vh;
    border-radius:10%;
    margin-right: 1vw;
}

.data {
    width: 13vw;
    flex-direction: column;
    flex-wrap: wrap;
}

.info {
    display: flex;
    align-items: center;
    margin: 2vh 0.5vw;
    /* box-shadow: 0px 0px 5px white; */
    padding: 1vh;
    border-radius: 10px;
    height: auto;
    transition: 600ms ease-out;

}

.info:hover {
    box-shadow: 0px 0px 10px rgba(246, 246, 246, 0.8);
    transform: scale(1.05);
    transition: 200ms ease-in;
}

p {
    font-size: 16px;
}

h4 {
    font-size: 20px;
}