.img {
  width: 8vw;
  height: 14vh;
  border-radius: 50%;
  margin-right: 1vw;
}

.data {
  width: 13vw;
  flex-direction: column;
  flex-wrap: wrap;
}

.linkedin,
.github {
  height: 2.5vh;
  margin-right: 1vw;
}

.info {
  display: flex;
  align-items: center;
  margin: 2vh 0.5vw;
  padding: 1vh;
  border-radius: 10px;
  height: auto;
  transition: 600ms ease-out;
}

.info:hover {
  box-shadow: 0px 0px 10px rgba(246, 246, 246, 0.8);
  transform: scale(1.01);
  transition: 300ms ease-in;
}

p {
  font-size: 16px;
}

h6 {
  font-size: 20px;
}
