.box{
    border: 2px solid white;
    width: 40vh;
    margin: auto;
    margin-top: 15vh;
    height: 52vh;
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(131, 129, 129);
}
.logobox{
    width: 120px;
    margin: auto;
    margin-top: 25px;
    height: 120px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgb(37, 118, 223);
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100px;
    background-color: white;
}
.inputbox{
    width: 300px;
    margin: auto;
    height: 250px;
    margin-top: 30px;
}
.user,.dob,.phone,.email,.pass,.cpass{
    width: 270px;
    margin-left: 15px;
    border-radius: 30px;
    height: 40px;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
}

.email{
    background:url("https://www.shareicon.net/data/128x128/2015/12/02/681171_email_512x512.png") no-repeat scroll 7px 6px;
    padding-left: 45px;
    padding-right: 15px;
    background-size: 30px;
}
.pass{
    background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 7px 6px;
    padding-left: 45px;
    padding-right: 15px;
    background-size: 30px;
}
.cpass{
    background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 7px 6px;
    padding-left: 45px;
    padding-right: 15px;
    background-size: 30px;
}
.rem{
    margin-left: 85px;
    margin-top: 20px;
    color: rgb(37, 118, 223);
}
.buttn{
    border-radius: 20px;
    width: 90px;
    background-color: rgb(37, 118, 223);
}
.buttnbox{
    text-align: center;
    margin-top: 50px;
}
.signin{
    text-align: center;
    margin-top: 15px;
    color: rgb(37, 118, 223);
}
.snin{
    text-decoration: none;
}
.snin:hover{
    color: red;
}

@media (max-width:500px){
    
    .box{
        width: 80vw;
        height: 67vh;
    }
    .inputbox{
        width: 78vw;
    }
    .email,.pass,.cpass{
        width: 74vw;
        margin-left: 1vh;
        border-radius: 30px;
        height: 40px;
        border: 0;
    }

    
}

@media (min-width:1000px){
    .box{
        width: 30vw;
        height: 60vh;
    }
    .inputbox{
        width:28vw;
    }
    .email,.pass,.cpass{
        width: 26vw;
        margin-left: 1vh;
        border-radius: 30px;
        height: 5vh;
        border: 0;
    }
    .email{
        background:url("https://www.shareicon.net/data/128x128/2015/12/02/681171_email_512x512.png") no-repeat scroll 1vh 1.1vh;
        padding-left: 5vh;
        padding-right: 15px;
        background-size: 3vh;
    }
    .pass{
        background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 1vh 1.1vh;
        padding-left: 5vh;
        padding-right: 15px;
        background-size: 3vh;
    }
    .cpass{
        background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 1vh 1.1vh;
        padding-left: 5vh;
        padding-right: 15px;
        background-size: 3vh;
    }
}