.sidenav {
    width: 21vw;
    box-shadow: 0px 0px 2px;
    height: 90vh;
    /* border-radius: 2px 0px 0px 0px; */
    position: fixed;
    top: 10;
    padding: 5vh 0vw;
    overflow: auto;
    margin-left: 0vw;
    margin-top: 0vh;
}

.sidemenu {
    list-style: none;
    padding: 0;
    font-size: 1.8rem;
    font-family:'Times New Roman', Times, serif;
}

.courseItem {
    /* margin-left: -2vw;  */
    /* text-align:start; */
    transition: 200ms;
}

.courseItem a {
    color: white;
    margin-top: 1.3vh;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 1.3vh 0;
}

.sidemenu li {
    margin-bottom: 1.3vh;
}

.courseItem:hover {
    box-shadow: 0px 0px 5px;
    /* border-radius: 10px; */
    background-color: rgb(247, 248, 249);
    width: 100%;

}

.courseItem:hover a {
    color: black;
}

@media screen and (max-width: 800px) {
    .sidenav {
        display: none;
    }
}
.sidenav::-webkit-scrollbar{
    display: none;
}
