.post {
  width: 51vw;
  box-shadow: 0px 0px 2px;
  height: 100vh;
  padding: 1vh;
  margin-left: 24vw;
  overflow: auto;
  position: fixed;
  top: 20;
  padding-bottom: 20vh;
}
.userName {
  position: absolute;
  text-decoration: none;
  color: white;
  margin-left: 3.5vw;
}
.blank {
  width: 100vw;
  height: 90vh;
  background-color: #1da0f228;
  z-index: 7000;
  position: fixed;
}
.reactions > * {
  margin-right: 10px;
}

.likeContainer {
  display: flex;
  align-items: center;
}

.likeCount {
  margin-left: 5px;
}

.reactions {
  box-shadow: 0px 0px 5px;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App {
  box-shadow: 0px 0px 5px;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}
.pstimg {
  box-shadow: 0px 0px 2px;
  width: 100%;
}
.userpost {
  padding: 1vw;
}
.usrprofile {
  width: 99%;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 8px;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.discription {
  color: #657786;
  margin-bottom: 16px;
}

.followButton {
  background-color: #1f2122;
  color: #fff;
  border: none;
  padding: 3px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 23vw;
  margin-bottom: 3px;
  border-radius: 50px 50px;
}
.postimgvid {
  width: 46vw;
}
.followButton:hover {
  background-color: #8c98a4;
}

.userDP {
  border-radius: 100px;
  width: 60px;
  padding: 2px;
  cursor: pointer;
}

.Input {
  width: 40vw;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 100px;
  outline: none;
  margin-left: 1vw;
}

.Postbtn {
  font-size: 1.2rem;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 0 1.5vw;
}

.Postbtn:hover {
  background-color: #0d8ecf;
}

.whenclick {
  color: #eb1717;
}

.whenclick1 {
  background-color: #eb1717;
}

.emojis {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.emojis:hover {
  cursor: pointer;
}
.popup {
  position: fixed;
  top: 35%;
  left: 49.5%;
  height: 50vh;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  z-index: 9999;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.352);
  background-color: rgb(9, 9, 9);
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
}
.popHeader {
  display: flex;
  margin: 10px;
  color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poptitle {
  width: 95%;
  text-align: center;
}
.popup textarea {
  width: 100%;
  height: 20vh;
  margin-bottom: 10px;
  background: transparent;
  color: rgb(240, 236, 236);
  font-size: 1.2rem;
}

.popup button {
  border-radius: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .post {
    width: 98vw;
    margin-left: 0;
    margin-top: 7.1vh;
    margin-left: 4px;
  }
  .popup {
    width: 100%;
  }
  .Input {
    width: 71vw;
  }
}
.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 26px;
  color: #f2eeee;
}
.whenclick {
  color: #0d8ecf;
}
.whenclick1 {
  background-color: #0d8ecf;
}
.count {
  margin-right: 15px;
}
.post::-webkit-scrollbar {
  display: none;
}
.commentsInput {
  position: fixed;
  height: 10vh;
  top: 63.9%;
  left: 24.5%;
  z-index: 9999;
  width: 50%;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.352); */
  background-color: rgb(29, 29, 29);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
.commInp {
  margin-top: 1.5vh;
  margin-left: 1vw;
  width: 40.5vw;
  margin-right: 1vw;
  border-radius: 10px;
}
.postBtn {
  border-radius: 10px;
  width: 6.5vw;
}
table {
  font-size: 15px;
  margin-bottom: 15px;
}
.profileImg {
  border-radius: 100%;
  margin-right: 10px;
}
/* For the share popup */
.share_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.share_container {
  height: 50%;
  width: 40%;
  border: 2px solid rgba(240, 236, 236, 0.5);
  background-color: black;
  border-radius: 25px;
  box-shadow: 0px 0px 30px inset gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close_share_btn {
  position: fixed;
  right: 30.5%;
  top: 25.5%;
}
.share_heading {
  font-size: 3rem;
  margin-top: -3vh;
}
.copy_link {
  background-color: #f2eeee;
  height: 5.7vh;
  border-radius: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  align-items: center;
}
.link {
  background-color: #f2eeee;
  border-radius: 40px;
  height: 2rem;
  padding-left: 1.2vw;
  font-size: 1.5rem;
  border-style: none;
}
.copy_btn {
  border-radius: 30px;
  font-size: 1.3rem;
  border-style: none;
  background-color: #1da1f2;
  color: white;
  height: 5vh;
  width: 6vw;
  margin-right: 0.3vw;
}
.copy_btn:hover {
  background-color: #065f8c;
}
.copy_btn:active {
  background-color: #5bb9f3;
}
.socials {
  width: 80%;
  display: flex;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
  gap: 2vw;
  font-size: 0.7em;
}
.socials::-webkit-scrollbar {
  display: none;
}
.line {
  margin-top: 2vh;
  border: 1px solid white;
  width: 85%;
  margin-bottom: 3vh;
}
.scroll_btn {
  position: fixed;
  left: 30.5%;
  top: 44%;
  width: 4.2vw;
  height: 7.6vh;
  border-radius: 100px;
  border-style: none;
  background-color: rgb(64, 67, 69);
  color: white;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.7);
}
.scroll_btn:hover {
  background-color: #065f8c;
}
.scroll_btn:active {
  background-color: #5bb9f3;
}
.right {
  position: fixed;
  left: 64.2%;
}
