.box{
    border: 2px solid white;
    width: 28vw;
    margin: auto;
    margin-top: 15vh;
    height: 56vh;
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(131, 129, 129);
}
.logobox{
    width: 9vw;
    height: 9vw;
    margin: auto;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgb(37, 118, 223);
}
.logo{
    width: 7vw;
    height: 7vw;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 100px;
    background-color: white;
}
.inputbox{
    /* border: 3px solid black; */
    width: 24vw;
    margin: auto;
    height: 33vh;
    margin-top: 3.5vh;
}
.user{
    width: 21.5vw;
    margin-left: 1vw;
    border-radius: 30px;
    height: 4.6vh;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
    background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll 0.6vw 0.5vh;
    padding-left: 3vw;
    padding-right: 2vw;
    background-size: 2vw;
}
.pass{
    width: 21.5vw;
    margin-left: 1vw;
    border-radius: 30px;
    height: 4.6vh;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
    background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 0.6vw 0.5vh;
    padding-left: 3vw;
    padding-right: 2vw;
    background-size: 2vw;
}
.rem{
    text-align: center;
    margin-top: 3vh;
    color: rgb(37, 118, 223);
}
.check{
    background-color: rgb(37, 118, 223);
}
.buttn{
    border-radius: 20px;
    width: 6vw;
    background-color: rgb(37, 118, 223);
    height: 4vh;
}
.buttnbox{
    text-align: center;
    margin-top: 2.5vh;
}
.signup{
    text-align: center;
    color: rgb(37, 118, 223);
    margin-top: 2.5vh;
}
.snup{
    text-decoration: none;
}
.snup:hover{
    color: red;
}
@media screen and (max-width:1050px) {
    .box{
        width: 35vw;
    }
    .logobox{
        width: 11vw;
        height: 11vw;
    }
    .logo{
        width: 9vw;
        height: 9vw;
    }
    .inputbox{
        /* border: 3px solid black; */
        width: 32vw;
        height: 33vh;
    }
    .user{
        width: 30vw;
        margin-left: 1vw;
        background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll 1vw 1vh;
        padding-left: 4vw;
        background-size: 2.4vw;
    }
    .pass{
        width: 30vw;
        margin-left: 1vw;
        background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 1vw 1vh;
        padding-left: 4vw;
        background-size: 2.4vw;
    }
    .buttn{
        width: 8vw;
    }
}