.box{
    border: 2px solid rgb(255, 255, 255);
    width: 28vw;
    margin: auto;
    margin-top: 15vh;
    height: 56vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 2px 10px 10px 10px rgb(131, 129, 129);
}
.logobox{
    width: 9vw;
    height: 9vw;
    margin: auto;
    margin-top: 25px;
    /* border: 1px solid black; */
    border-radius: 100%;
    background-color: rgb(37, 118, 223);
}
.logo{
    width: 7vw;
    height: 7vw;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 100%;
    background-color: white;
}
.inputbox{
    /* border: 3px solid black; */
    /* width: 24vw; */
    margin: auto;
    height: 33vh;
    margin-top: 3.5vh;
}
.user{
    width: 25.5vw;
    margin-left: 1vw;
    border-radius: 30px;
    height: 4.6vh;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
    background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll;
    padding-left: 3vw;
    padding-right: 2vw;
    background-size: 2vw;
    background-position:left ;
    background-position-x: 5px;
}
.pass{
    width: 25.5vw;
    margin-left: 1vw;
    border-radius: 30px;
    height: 4.6vh;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
    background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll;
    padding-left: 3vw;
    padding-right: 2vw;
    background-size: 2vw;
    background-position:left ;
    background-position-x: 5px;
}
.rem{
    text-align: center;
    margin-top: 3vh;
    color: rgb(37, 118, 223);
}
.check{
    background-color: rgb(37, 118, 223);
}
.buttn{
    border-radius: 20px;
    width: 6vw;
    background-color: rgb(37, 118, 223);
    height: 4vh;
}
.buttnbox{
    text-align: center;
    margin-top: 2.5vh;
}
.signup{
    text-align: center;
    color: rgb(37, 118, 223);
    margin-top: 2.5vh;
}
.snup{
    color: rgb(18, 111, 233);
    text-decoration: none;
}
.snup:hover{
    color: red;
}
@media screen and (max-width:1050px) and (min-width:601px) {
    .box{
        width: 35vw;
    }
    .logobox{
        width: 11vw;
        height: 11vw;
    }
    .logo{
        width: 9vw;
        height: 9vw;
    }
    .inputbox{
        /* border: 3px solid black; */
        /* width: 32vw; */
        height: 33vh;
    }
    .user{
        width: 32.5vw;
        margin-left: 1vw;
        background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll ;
        padding-left: 4vw;
        background-size: 2.4vw;
        background-position:left ;
        background-position-x: 5px;
    }
    .pass{
        width: 32.5vw;
        margin-left: 1vw;
        background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll ;
        padding-left: 4vw;
        background-size: 2.4vw;
        background-position:left ;
        background-position-x: 5px;
    }
    .buttn{
        width: 8vw;
    }
}
@media screen and (max-width:600px) and (min-width:401px) {
    .box{
        width: 60vw;
    }
    .logobox{
        width: 20vw;
        height: 20vw;
    }
    .logo{
        width: 18vw;
        height: 18vw;
    }
    .inputbox{
        /* border: 3px solid black; */
        /* width: 32vw; */
        height: 33vh;
    }
    .user{
        width: 55vw;
        margin-left: 2vw;
        background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll;
        padding-left: 7vw;
        background-size: 4vw;
        background-position:left ;
        background-position-x: 5px;
    }
    .pass{
        width: 55vw;
        margin-left: 2vw;
        background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll ;
        padding-left: 7vw;
        background-size: 4vw;
        background-position:left ;
        background-position-x: 5px;
    }
    .buttn{
        width: 20vw;
    }
}
@media screen and (max-width:400px) {
    .box{
        width: 90vw;
    }
    .logobox{
        width: 30vw;
        height: 30vw;
    }
    .logo{
        width: 28vw;
        height: 28vw;
    }
    .inputbox{
        /* border: 3px solid black; */
        /* width: 32vw; */
        height: 33vh;
    }
    .user{
        width: 85vw;
        margin-left: 2vw;
        background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll;
        padding-left: 8vw;
        background-size: 5vw;
        background-position:left ;
        background-position-x: 5px;
    }
    .pass{
        width: 85vw;
        margin-left: 2vw;
        background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll ;
        padding-left: 8vw;
        background-size: 5vw;
        background-position:left ;
        background-position-x: 5px;
    }
    .buttn{
        width: 25vw;
    }
}