.box{
    border: 2px solid white;
    width: 350px;
    margin: auto;
    margin-top: 120px;
    height: 450px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(131, 129, 129);
}
.logobox{
    width: 120px;
    margin: auto;
    margin-top: 25px;
    height: 120px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgb(37, 118, 223);
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100px;
    background-color: white;
}
.inputbox{
    /* border: 3px solid black; */
    width: 300px;
    margin: auto;
    height: 250px;
    margin-top: 30px;
}
.user{
    width: 270px;
    margin-left: 15px;
    border-radius: 30px;
    height: 40px;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
    background:url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat scroll 7px 7px;
    padding-left: 45px;
    background-size: 25px;
}
.pass{
    width: 270px;
    margin-left: 15px;
    border-radius: 30px;
    height: 40px;
    box-shadow: 3px 3px 5px rgb(111, 122, 138);
    border: 0;
    background:url("https://www.shareicon.net/data/128x128/2015/11/10/669695_locked_512x512.png") no-repeat scroll 7px 7px;
    padding-left: 45px;
    background-size: 27px;
}
.rem{
    margin-left: 87px;
    margin-top: 25px;
    color: rgb(37, 118, 223);
}
.check{
    background-color: rgb(37, 118, 223);
}
.buttn{
    border-radius: 20px;
    width: 90px;
    background-color: rgb(37, 118, 223);
}
.buttnbox{
    text-align: center;
    margin-top: 20px;
}
.signup{
    text-align: center;
    color: rgb(37, 118, 223);
    margin-top: 20px;
}
.snup{
    text-decoration: none;
}
.snup:hover{
    color: red;
    text-decoration: underline;
}