.navbar{
    background-image: linear-gradient(rgb(243, 232, 176),rgb(130, 130, 103));
    box-shadow: 0px 0px 10px black;
}
.navItems{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.list{
     margin-right: 50px;
     font-size: 3vh;
     color: rgb(14, 14, 13);
     font-weight: 500;
}