.navigation {
  background-color: rgba(24, 21, 21,);
  color: white;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  position: fixed;
  top:0;
  z-index: -500;
  width: 100vw;
}
.logo{
  flex: 20%;
  display: flex;
  padding: 2px;
  justify-content:center;
}
.menu{
  flex: 80%;

}

.ul1 {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.2em;
}

.logoName {
  text-transform: uppercase;
  font-size: 2em;

}

.icn {
  height: 2.5em;
  margin: 2px;
  margin-right: 3vw;
}

.icon {
  height: 1.5em;
  margin-right: 1vw;
  color: aliceblue;
}

.ul1 li {
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color 0.4s ease;
}

/* .ul1 li:hover {
  background-color: #1a73e8;
  cursor: pointer;
  color: #fff;
} */

.ul1 a {
  text-decoration: none;
  color: white;
}

.ul1 a:hover {
  color: #f1f1f1;
}

.logoName:hover {
  cursor: pointer;
}
@media screen and (max-width:600px){
  .navigation{
    display: block;
  }
   .logo{
    font-size: 2vh;
    font-family:Arial, Helvetica, sans-serif;
   }
  .ul1{
     justify-content: space-around;
  }
}
@media screen and (max-width:1024px){
  .menuText{
    display: none;
   }
}
