.post{
    flex: 50%;
    box-shadow: 0px 0px 10px;
    height: 90vh;
    padding: 2vh;
    margin-left: 25%;
}
.reactions{
    box-shadow: 0px 0px 5px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1vh;

}
.pstimg{
    box-shadow: 0px 0px 2px;
    width: 100%;
}
.userpost{
    /* border: 1px solid white; */
}
