.community {
    width: 24vw;
    box-shadow: 0px 0px 2px;
    height: 90vh;
    border-radius: 2px 0px 0px 0px;
    position: fixed;
    top: 10;
    padding: 5vh 2vw;
    overflow: auto;
    margin-left: 0vw;
    margin-right: 1vw;
}

.box {
    text-align: left;
    width: 24vw;
    position: fixed;
    background-color: #000000;
    z-index: 10;
    top: 20;
    /* overflow: auto; */
    box-shadow: 0px 0px 1px inset;
    padding-left: 5px;
    padding-top: 1.6vh;
    border-radius: 2px;
    padding-bottom: 1.2vh;
    margin-left: -2.1vw;
    margin-top: -5vh;
    height: 9.5vh;

}

h1 {
    display: inline;
    font-size: 33px;
}

.iconButton {
    margin-left: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 26px;
    color: #f2eeee;
}

.iconButton:hover {
    font-size: 28px;
}

.chats {
    margin-top: 6vh;
    margin-left: -2.6vh;
    width: 23vw;
    top: 50;
    position: relative;
}

@media screen and (max-width:600px) {
    .community {
        display: none;
    }
}

.community::-webkit-scrollbar {
    display: none;
}

.commhead {
    font-size: 3vw;
    margin-left: 1vw;
    margin-right: -2vw;
    margin-bottom: 1vw;
    font-family: emoji;
    background: linear-gradient(to right, #f66492, rgb(228, 227, 227), #5bf7f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}




/* Modal styles */

.modalContent {
    background-color: black;
    padding: 50px;
    border-radius: 20px;
    width: 30vw;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.modalContent h2 {
    color: white;
    font-size: 25px;
}

.modalContent button {
    margin-right: 10px;
}

.input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid transparent; 
    background-color: transparent;
}

