.sidenav{
    width: 25vw;
    box-shadow: 0px 0px 10px;
    height: 90vh;
    border-radius: 10px 0px 0px 0px;
    position: fixed;
    top:10;
    padding: 9vh;
    overflow: auto;
    
}
.sidemenu{
    list-style: none;
    padding: 2vh 2vw 10vh;
    font-size: 1.5rem;
}
.courseItem a{
    color: white;
    margin-top: 1.3vh;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}
.courseItem:hover{
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    background-color: rgb(6, 133, 244);
    color: black;
}
@media screen and (max-width:600px) {
    .sidenav{
        display: none;
    }
}