.team{
    flex: 25%;
    box-shadow: 0px 0px 10px;
    height: 90vh;
    border-radius: 0px 10px 0px 0px;
    margin-top: 20px;
   overflow-y: auto;
   text-align: center;
}
.imagelist{
    height: 300px;
    width:300px;
}
@media screen and (max-width:600px){
   
    .team{
        display: none;
    }
}