


 
 .breakingNews {
    margin-left: 75vw;
    margin-top: 10vh;
    font-size: 30px;
    box-shadow: 0px 0px 10px;
    height: 90vh;
    padding-top: 10px;
    scroll-behavior: auto;
    overflow-y: scroll;
  }
  
  .heading {
    background-color: rgb(29, 25, 25);
    text-align: center;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    margin-top: 0px;
    cursor: pointer; /* Add cursor pointer for better UX */
  }
  
  .heading:hover {
    box-shadow: 5px 5px 20px;
    background-color:light blueviolet;
    border-radius: 10px;
    width: 25vw;
  }
  
  .breaking_list {
    margin-right: 40px;
    list-style: none;
    text-align: center;
    padding: 8px 033px;
  }
  
  .breaking_news_post {
    text-align: center;
    padding-top: 2%;
    position: fixed;
    height: 100vh;
    top: 20;
    overflow: auto;
    width: 400px;
    background-color: rgba(12, 11, 11, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .breaking  a{
    cursor: pointer; /* Add cursor pointer for better UX */
     text-decoration: none;
  }
  
  .breaking:hover {
    text-decoration: underline;
    color: rgb(234, 233, 226);
    border-radius: 100px outset;
    
  }
  