/* Sidebar for Memes */
.sidenavmemes {
    flex: 25%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    height: 90.3vh;
    border-radius: 1px 1px 1px 0px;
    position: fixed;
    margin-top: 5.5%;
    overflow: auto;
    background-color: #131212; /* Light gray background color */
}

/* Styling for Sidebar List Items */
.sidememe {
    list-style: none;
    padding: 2vh 2vw 10vh;
    font-size: 1.5rem;
}

/* Styling for each individual meme item */
.memeItem {
    margin-top: 1.3vh;
    padding: 1.5vh;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for meme items */
.memeItem:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #e0f7fa; /* Light blue background on hover */
    color: #333; /* Darker text color on hover */
}

/* Icon styling */
i {
    margin-right: 2vh;
    color: #2196f3; /* Material blue color for icons */
}

@media screen and (max-width:600px){
    .sidenavmemes{
        display:none;
    }
}