.basichtml{
    /* height: 100vh; */
    margin-top: 10vh;
    padding-top: 9vh;
    padding-left: 22vw;
    padding-right: 0.9vw;
    font-size: large;
    display: column;
    /* overflow:scroll; */
    overflow-y: auto;
     grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.tile{
    /* display: flex; */
    justify-content:center;
    align-items: center;
    /* overflow-x: scroll; */
}
.box2{
    font-family:'Times New Roman', Times, serif ;
    text-align: left;
    height: 38vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(180, 180, 179) ;
  padding: 2.5vh;
  background-image: url(https://images.pexels.com/photos/1853354/pexels-photo-1853354.jpeg?auto=compress&cs=tinysrgb&w=1100);  color: rgb(255, 249, 249);
  overflow: scroll;
margin: 2vh;
}
.basicreact::-webkit-scrollbar{
    display: none;
}