.img {
    width: 7vw;
    height: 12vh;
    border-radius: 10%;
}

.data {
    width: 10vw;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1vw;
}

.info {
    display: flex;
    width: 18vw;
    align-items: center;
    margin: 1vw;
    /* box-shadow: 0px 0px 5px white; */
    padding: 1vh;
    margin-left: 3vw;
    border-radius: 10px;
    height: auto;
    /* transition: 600ms ease-out; */
}

.info:hover {
    box-shadow: 0px 0px 10px rgba(246, 246, 246, 0.8);
    transform: scale(1.05);
    transition: 0.3s;
}

p {
    font-size: 16px;
}

h4 {
    font-size: 20px;
}

@media (max-width:1050px) {
    .data {
        display: none;
        margin: 0vw;
    }

    .info {
        height: 12vw;
        width: 12vw;
    }

    .img {
        width: 10vw;
        height: 10vw;
    }
}